<%- include("header") -%>
<div class="box" id="heading">
  <h1>The Best ToDo App</h1>
</div>
<div class="box">
  This app was Made by Dhruv Pathak , as a pet Project.
</div>
<%- include("footer") -%>
